/* style pour navbar */
.mynav {
	background-color:#22A7F0;
	border-color:#22A7F0;
}

.navbar .nav > li > a {
    color:#d6d6d6;
}

.navbar-inverse .navbar-brand {
    color: #d6d6d6;
}

/* style de l'affichage des images */
.thumbnail{
  width: 242px;
  height: 210px;
  overflow: auto;
  position: relative;
}

.thumbnail img{
	width: 240px;
  height: 200px;
  overflow: auto;
}

/* style modal */
.mymodal {
	width: 440px;
  height: 440px;
  z-index: 100;
  position: fixed;
  top:20%;
  left:40%;
}  	

.mymodalconnexion {
  width: 440px;
  height: 400px;
  position: fixed;
  top:20%;
  left:40%;
}

#typeAffiche{
  width: 100px;
  height: auto;
}

.ui-effects-transfer { 
  border: 2px dotted gray; 
}


header,
body
{
  /*background-color: blue;*/
  margin: 0;
  padding: 0;
  position: relative;
}


footer {

position: fixed;

height: 60px;

bottom: 0;

width: 100%;

background-color: #22A7F0;


}

